<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
    <div class="top-header">
        <a th:href="@{/webshop}">
            <h1>My Shop</h1>
        </a>
        <a th:href="@{/more-filters}">
            <h1>More >></h1>
        </a>
    </div>

    <hr>

    <div class="top-nav">
        <form method="get" action="/only-available">
            <button type="submit">ONLY AVAILABLE</button>
        </form>
        <form method="get" action="/cheapest-first">
            <button type="submit">CHEAPEST FIRST</button>
        </form>
        <form method="get" action="/contains-nike">
            <button type="submit">CONTAINS NIKE</button>
        </form>
        <form method="get" action="/average-stock">
            <button type="submit">AVERAGE STOCK</button>
        </form>
        <form method="get" action="/most-expensive">
            <button type="submit">MOST EXPENSIVE AVAILABLE</button>
        </form>
    </div>

        <br>

        <form method="get" action="/webshop">
            <button type="submit">Reset filters</button>
        </form>

        <br>

    <label for="searchId">Search for:</label>
    <br>

    <form method="post" action="/search">
        <input type="text" id="searchId" name="searchId" placeholder="...something like Nike">
        <button type="submit">Search</button>
    </form>

</div>

</html>