<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div class="main-container">

    <div th:replace="fragments/type-header::type-header"></div>

    <div class="list-container">
        <table>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity of stock</th>
            </tr>
            <tr th:each="shopitem:${shopItemList}">
                <td th:text="${shopitem.name}"></td>
                <td th:text="${shopitem.type}"></td>
                <td th:text="${shopitem.description}"></td>
                <td th:text="${shopitem.price}"></td>
                <td th:text="${shopitem.quantityOfStock}"></td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>