<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register new user</title>
</head>
<body>

<h1>Register new user</h1>

<form method="post" action="/reddit/register">
    <p>
        <label for="username">Username:</label>
        <input type="text" name="userName" id="username">
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" name="passWord" id="password">
    </p>

    <button type="submit">Submit</button>

</form>

</body>
</html>