<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit new post</title>
</head>
<body>
<p><a href="/reddit/home">Return to homepage</a></p>
<h1>Submit a new post</h1>


<form method="post" action="/reddit/submit">
    <p>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">
    </p>
    <p>
        <label for="url">URL:</label>
        <input type="text" name="url" id="url">
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>


</form>

</body>
</html>