form{
    display: inline-block;
}

body{
    display: flex;
    justify-content: center;
}

.top-nav{
    display: flex;
    justify-content: space-between;
}

.main-container{
    width: 66%;
}

.top-header{
    display: flex;
    justify-content: space-between;
}

table{
    width: 100%;
    text-align: center;
}



